          {% if author.webofscience %}
            <li>
              <a href="{{ author.webofscience }}" itemprop="sameAs" target="_blank" rel="noopener noreferrer">
                <img src="/images/clarivate-web-of-science-logo-vector.png"
                     style="height:14px; width:auto; vertical-align:middle; margin-right:4px;"
                     alt="Web of Science" />
                <span class="label">Web of Science</span>
              </a>
            </li>
          {% endif %}
